@import url('https://fonts.googleapis.com/css?family=Roboto Mono');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

html {
    font-family: "Roboto Mono";
    line-height: 1.5;

    color: black;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    /* Narrow width for page */
    margin: auto 13.5%;
    background-color: #f0f0f0;
    background-size: 100% 100%, 30% 30%, 100% 100%;
    min-height: 53rem;
}

@media screen and (max-width: 1120px) {
    body {
        margin: auto;
    }
}

.page {
    background-color: white;
    min-height: 53rem;
}

nav {
    /* Defining an element with position: sticky */
    z-index: 1;
    position: sticky;
    top: 0px;

    background-color: #417fb4;
    height: 60px;
    width: 100%;
}

#nav-logo {
    color: white;
    font-size: 17px;
    line-height: 60px;
    font-weight: 600;
    padding: 0 18px;
}

nav ul {
    float: right;
    margin-right: 30px;
    padding: 9px 0px 9px 0px;
}

nav ul li {
    display: inline-block;
    line-height: 60px;
}

@media screen and (max-width: 1120px) {
    nav ul li {
        display: block;
        background-color: #417fb4;
    }
}

nav ul li a {
    display: block;
    line-height: 28px;
    color: white;
    font-size: 17px;
    padding: 7px 17px;
    font-weight: 600;
}

nav ul li a:hover {
    /* background-color: lightskyblue; */
    color: darkslategray;
}

nav ul li a.active {
    text-decoration-line: underline;
    text-decoration-color: white;
    text-underline-offset: 5px;
}

nav ul li ul {
    /* No display when not hovering submenu */
    display: none;
    /* Fix position of navigation bar */
    position: absolute;
}

nav ul li:hover ul {
    /* Display submenu vertically */
    display: block;
    background-color: #417fb4;
}

nav ul li:hover ul li a {
    display: block;
}

@media screen and (max-width: 1120px) {
    nav ul li:hover ul li a {
        font-size: 14.6px;
        line-height: 20px;
    }
}

header {
    text-align: left;
}

header img {
    width: 8rem;
    object-fit: contain;
    margin: 3rem auto 1rem auto;
    display: block;
}

h1 {
    font-size: 3rem;
    text-align: center;
    color: #3f3b00;
}

main {
    text-align: center;
}

/* page-main */
.sidepage-main {
    position: absolute;
    top: 130px;
    margin-left: 18.5%;
    width: 54%;
    padding: 1rem;
    border-radius: 6px;
    color: #ebe7ef;
    text-align: left;
    background-color: #2f1d43;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1120px) {
    .sidepage-main {
        margin-left: 25.8%;
        width: 74.4%;
    }
}

.sidebar {
    padding: 70px 0px;
    background-color: #f0f0f0;
    width: 25%;
    height: 53rem;
}

.sidemenu {
    padding: 10px 0px 10px 0px;
    display: block;
    background-color: #417fb4;
    text-align: left;
    /* 14px */
    font-size: 1vw;
}

@media screen and (max-width: 1120px) {
    .sidemenu {
        padding: 5px 0px 5px 0px;
    }
}

.sidemenu li:hover {
    background-color: lightblue;
}

.sidemenu li a {
    /* Avoid only text in link box is clickable */
    display: block;
    margin-left: 10px;
    color: white;
}

.sidemenu li a:hover {
    color: darkslategray;
}

#recursion-sidemenu {
    display: block;
}

footer {
    color: white;
    background-color: #417fb4;
    height: 27px;
    line-height: 27px;
    text-align: center;
    font-size: 13px;
}